.profile_form{   
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1px;
}
.profile_form input{
    height: 20px;
    display: flex;
}
.profile_form textarea{
    display: flex;
    width: 260px;
}
label{
    font-size: 20px;
}
h2{
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 2px;
}
button{
    margin-bottom:40px;
    background-color: red;
    color: white;
    border:none;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
}